<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Experienced in full stack web development. Specialties include: (but not limited to) HTML5, CSS3, JAVASCRIPT, JQUERY, AJAX, REST, JSON, SUBLIME TEXT, ATOM, BASH, VIM, GIT, VMWARE, DJANGO, ANGULAR, MV*, LESS, GULP, BOWER, NODE, NPM, BROWSERSYNC, KARMA, JASMINE, NGINX, UBUNTU, OSX. Problem solver with a reputation for being creative, detail oriented, and resourceful.</p>
    <p> <a href="{{site.baseurl}}/assets/docs/{{ site.resume }}"  target="_blank">Download Resume</a></p>
</div><!--//summary-->
</section><!--//section-->
