 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">AAS-T in Web Development</h4>
    <h5 class="meta">Seattle Central College</h5>
    <div class="time">2004 - 2008</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Certificate in Audio Production</h4>
    <h5 class="meta">Musicians Institute</h5>
    <div class="time">1994 - 1996</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Certificate in Music Theory</h4>
    <h5 class="meta">Musicians Institute</h5>
    <div class="time">1994 - 1996</div>
</div><!--//item-->
</div><!--//education-container-->
