<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2012 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Airbiquity, Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Front-end web development – HTML5, CSS3, JAVASCRIPT MVC, ANGULAR JS, JQUERY, AJAX, REST</li>
                        <li>Translation – I18-NEXT, RTL layout conversion</li>
                        <li>API Security</li>
                        <li>Server configuration – NGINX</li>
                        <li>Source control – CLEAR CASE, GIT</li>
                        <li>Backend web development – PHP, JAVA</li>
                        <li>IDE – ECLIPSE, SUBLIME TEXT</li>
                        <li>RWD – TWITTER BOOTSTRAP</li>
                        <li>Project Deployment - STEAL JS, GULP, NPM, BOWER</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer / AV Technician</h3>
                            <div class="time">2012 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Commercial Sound, Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Front-end web development – HTML, CSS, FLASH</li>
                          <li>Installation of commercial audio-video systems</li>
                        </ul>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">2012 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Design Media, Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Flash conversion to HTML5, CSS3, JQUERY, and JAVASCRIPT</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">2011 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Vendaria Media, Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Flash conversion to HTML5, CSS3, JQUERY, and JAVASCRIPT</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">2011 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">IndieFlix, Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Front-end web development – DJANGO, XHTML, CSS, JQUERY</li>
                          <li>Blog migration – WORDPRESS</li>
                          <li>Website optimization and tracking – GOOGLE ANALYTICS</li>
                          <li>Source control – GIT, MERCURIAL</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">2010 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">ZAAZ, Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Front-end web development – XHTML, CSS, JQUERY</li>
                          <li>Production design – PHOTOSHOP, FIREWORKS</li>
                          <li>Website optimization and tracking – ADOBE TEST & TARGET, JAVASCRIPT, XHTML</li>
                          <li>Content migration – EXPRESSION ENGINE</li>
                          <li>Email newsletter generation – XHTML, CSS</li>
                          <li>Source control – SVN, VSS</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Administrator / Web Developer / Studio Engineer</h3>
                            <div class="time">2000 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Fastrax, Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Front-end web development – HTML, CSS, JAVASCRIPT</li>
                          <li>Graphic design and template production – PHOTOSHOP, ILLUSTRATOR, QUARK, INDESIGN</li>
                          <li>Creative direction of projects including definition of technical specifications</li>
                          <li>Administration of company database</li>
                          <li>Installation and administration of company network, servers, and workstations</li>
                          <li>Data backup and recovery for servers and workstations</li>
                          <li>Design, construction, and operation of recording studio</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">QA Test Technician</h3>
                            <div class="time">1997 - 2000</div>
                        </div><!--//upper-row-->
                        <div class="company">Mackie Designs, Woodinville, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Perform QA testing of audio mixers</li>
                          <li>Work with design team to improve product functionality</li>
                          <li>Co-authored testing manual for QA department</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Stidio Intern</h3>
                            <div class="time">1996 - 1997</div>
                        </div><!--//upper-row-->
                        <div class="company">Bob Lang Studios, Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Assist in recording sessions</li>
                          <li>Session set-up and tear down</li>
                          <li>Equipment repair</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
